@font-face {
    font-family: Minecraft;
    src: url("https://minecraft.fandom.com/media/hydra/fonts/minecraft.ttf")
            format("truetype"),
        url("https://minecraft.fandom.com/media/hydra/fonts/minecraft.woff")
            format("woff");
}

#inv{
    margin-left: 140px;
    margin-top: 130px;
    transform: scale(2.7);
    z-index: -1;
    position:relative;
    image-rendering: pixelated;
}

#ec{
    margin-left: 140px;
    margin-top: 110px;
    transform: scale(2.7);
    z-index: -1;
    position:relative;
    image-rendering: pixelated;
}

#h{
    font-family: Minecraft;
    margin-left: 150px;
    font-size: 25px;
}

#hec{
    font-family: Minecraft;
    margin-left: 150px;
    font-size: 25px;
    margin-top: 250px;
}

#icon{
    margin-top: -245px;
    margin-left: 16.9px;
}

#icon9{
    margin-top: 42px;
    margin-left: 16.9px;
}

#icon18{
    margin-top: -360px;
    margin-left: 16.9px;
}

#icon27{
    margin-top: -300px;
    margin-left: 16.9px;
}

#icon1{
    margin-top: -590px;
    margin-left: 17px;
}

#icon2{
    margin-top: -688px;
    margin-left: -32px;
}

#icon3{
    margin-top: -786px;
    margin-left: -32px;
}

#icon4{
    margin-top: -880px;
    margin-left: -32px;
}

#icon5{
    margin-top: -590px;
    margin-left: 155px;
}

#n0{
    position: absolute;
    font-family: Minecraft;
    margin-top: 72px;
    color: white;
    font-size: 16.5px;
    margin-left: 30px;
}

#n1{
    position: absolute;
    font-family: Minecraft;
    margin-top: 72px;
    color: white;
    font-size: 16.5px;
    margin-left: 78px;
}

#n2{
    position: absolute;
    font-family: Minecraft;
    margin-top: 72px;
    color: white;
    font-size: 16.5px;
    margin-left: 128px;
}

#n3{
    position: absolute;
    font-family: Minecraft;
    margin-top: 72px;
    color: white;
    font-size: 16.5px;
    margin-left: 175px;
}

#n4{
    position: absolute;
    font-family: Minecraft;
    margin-top: 72px;
    color: white;
    font-size: 16.5px;
    margin-left: 225px;
}

#n5{
    position: absolute;
    font-family: Minecraft;
    margin-top: 72px;
    color: white;
    font-size: 16.5px;
    margin-left: 270px;
}

#n6{
    position: absolute;
    font-family: Minecraft;
    margin-top: 72px;
    color: white;
    font-size: 16.5px;
    margin-left: 320px;
}

#n7{
    position: absolute;
    font-family: Minecraft;
    margin-top: 72px;
    color: white;
    font-size: 16.5px;
    margin-left: 370px;
}

#n8{
    position: absolute;
    font-family: Minecraft;
    margin-top: 72px;
    color: white;
    font-size: 16.5px;
    margin-left: 420px;
}

#n9{
    position: absolute;
    font-family: Minecraft;
    margin-top: -85px;
    color: white;
    font-size: 16.5px;
    margin-left: 30px;
}

#n10{
    position: absolute;
    font-family: Minecraft;
    margin-top: -85px;
    color: white;
    font-size: 16.5px;
    margin-left: 78px;
}

#n11{
    position: absolute;
    font-family: Minecraft;
    margin-top: -85px;
    color: white;
    font-size: 16.5px;
    margin-left: 128px;
}

#n12{
    position: absolute;
    font-family: Minecraft;
    margin-top: -85px;
    color: white;
    font-size: 16.5px;
    margin-left: 175px;
}

#n13{
    position: absolute;
    font-family: Minecraft;
    margin-top: -85px;
    color: white;
    font-size: 16.5px;
    margin-left: 225px;
}

#n14{
    position: absolute;
    font-family: Minecraft;
    margin-top: -85px;
    color: white;
    font-size: 16.5px;
    margin-left: 270px;
}

#n15{
    position: absolute;
    font-family: Minecraft;
    margin-top: -85px;
    color: white;
    font-size: 16.5px;
    margin-left: 320px;
}

#n16{
    position: absolute;
    font-family: Minecraft;
    margin-top: -85px;
    color: white;
    font-size: 16.5px;
    margin-left: 370px;
}

#n17{
    position: absolute;
    font-family: Minecraft;
    margin-top: -85px;
    color: white;
    font-size: 16.5px;
    margin-left: 420px;
}


#n18{
    position: absolute;
    font-family: Minecraft;
    margin-top: -38px;
    color: white;
    font-size: 16.5px;
    margin-left: 30px;
}

#n19{
    position: absolute;
    font-family: Minecraft;
    margin-top: -38px;
    color: white;
    font-size: 16.5px;
    margin-left: 78px;
}

#n20{
    position: absolute;
    font-family: Minecraft;
    margin-top: -38px;
    color: white;
    font-size: 16.5px;
    margin-left: 128px;
}

#n21{
    position: absolute;
    font-family: Minecraft;
    margin-top: -38px;
    color: white;
    font-size: 16.5px;
    margin-left: 175px;
}

#n22{
    position: absolute;
    font-family: Minecraft;
    margin-top: -38px;
    color: white;
    font-size: 16.5px;
    margin-left: 225px;
}

#n23{
    position: absolute;
    font-family: Minecraft;
    margin-top: -38px;
    color: white;
    font-size: 16.5px;
    margin-left: 270px;
}

#n24{
    position: absolute;
    font-family: Minecraft;
    margin-top: -38px;
    color: white;
    font-size: 16.5px;
    margin-left: 320px;
}

#n25{
    position: absolute;
    font-family: Minecraft;
    margin-top: -38px;
    color: white;
    font-size: 16.5px;
    margin-left: 370px;
}

#n26{
    position: absolute;
    font-family: Minecraft;
    margin-top: -38px;
    color: white;
    font-size: 16.5px;
    margin-left: 420px;
}

#n27{
    position: absolute;
    font-family: Minecraft;
    margin-top: 12px;
    color: white;
    font-size: 16.5px;
    margin-left: 30px;
}

#n28{
    position: absolute;
    font-family: Minecraft;
    margin-top: 12px;
    color: white;
    font-size: 16.5px;
    margin-left: 78px;
}

#n29{
    position: absolute;
    font-family: Minecraft;
    margin-top: 12px;
    color: white;
    font-size: 16.5px;
    margin-left: 128px;
}

#n30{
    position: absolute;
    font-family: Minecraft;
    margin-top: 12px;
    color: white;
    font-size: 16.5px;
    margin-left: 175px;
}

#n31{
    position: absolute;
    font-family: Minecraft;
    margin-top: 12px;
    color: white;
    font-size: 16.5px;
    margin-left: 225px;
}

#n32{
    position: absolute;
    font-family: Minecraft;
    margin-top: 12px;
    color: white;
    font-size: 16.5px;
    margin-left: 270px;
}

#n33{
    position: absolute;
    font-family: Minecraft;
    margin-top: 12px;
    color: white;
    font-size: 16.5px;
    margin-left: 320px;
}

#n34{
    position: absolute;
    font-family: Minecraft;
    margin-top: 12px;
    color: white;
    font-size: 16.5px;
    margin-left: 370px;
}

#n35{
    position: absolute;
    font-family: Minecraft;
    margin-top: 12px;
    color: white;
    font-size: 16.5px;
    margin-left: 420px;
}

#n36{
    visibility: hidden;
    font-family: Minecraft;
    margin-top: -175px;
    color: white;
    font-size: 16.5px;
    margin-left: 30px;
}

#n37{
    visibility: hidden;
    position: absolute;
    font-family: Minecraft;
    margin-top: -65px;
    color: white;
    font-size: 16.5px;
    margin-left: 30px;
}

#n38{
    visibility: hidden;
    position: absolute;
    font-family: Minecraft;
    margin-top: -65px;
    color: white;
    font-size: 16.5px;
    margin-left: 30px;
}

#n39{
    visibility: hidden;
    position: absolute;
    font-family: Minecraft;
    margin-top: -65px;
    color: white;
    font-size: 16.5px;
    margin-left: 30px;
}

#n40{
    position: absolute;
    font-family: Minecraft;
    margin-top: -160px;
    color: white;
    font-size: 16.5px;
    margin-left: 215px;
}

#ec{
    margin-top: 75px;
}

#iconEC{
    margin-top: -200px;
    margin-left: 15px;
}

#iconEC9{
    margin-top: -246px;
    margin-left: 16.8px;
}

#iconEC18{
    margin-top: -180px;
    margin-left: 16.8px;
}

#iconEC27{
    margin-top: -125px;
    margin-left: 16.8px;
}

#e0{
    font-family: Minecraft;
    margin-top: -178px;
    color: white;
    font-size: 16.5px;
    margin-left: 30px;
}

#e1{
    font-family: Minecraft;
    margin-top: -17.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 78px;
}

#e2{
    font-family: Minecraft;
    margin-top: -16px;
    color: white;
    font-size: 16.5px;
    margin-left: 128px;
}

#e3{
    font-family: Minecraft;
    margin-top: -16px;
    color: white;
    font-size: 16.5px;
    margin-left: 175px;
}

#e4{
    font-family: Minecraft;
    margin-top: -16px;
    color: white;
    font-size: 16.5px;
    margin-left: 225px;
}

#e5{
    font-family: Minecraft;
    margin-top: -16px;
    color: white;
    font-size: 16.5px;
    margin-left: 270px;
}

#e6{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 320px;
}

#e7{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 370px;
}

#e8{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 420px;
}

#e9{
    font-family: Minecraft;
    margin-top: 31px;
    color: white;
    font-size: 16.5px;
    margin-left: 30px;
}

#e10{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 78px;
}

#e11{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 128px;
}

#e12{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 175px;
}

#e13{
    font-family: Minecraft;
    margin-top: -17px;
    color: white;
    font-size: 16.5px;
    margin-left: 225px;
}

#e14{
    font-family: Minecraft;
    margin-top: -17px;
    color: white;
    font-size: 16.5px;
    margin-left: 270px;
}

#e15{
    font-family: Minecraft;
    margin-top: -17px;
    color: white;
    font-size: 16.5px;
    margin-left: 320px;
}

#e16{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 370px;
}

#e17{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 420px;
}


#e18{
    font-family: Minecraft;
    margin-top: 31px;
    color: white;
    font-size: 16.5px;
    margin-left: 30px;
}

#e19{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 78px;
}

#e20{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 128px;
}

#e21{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 175px;
}

#e22{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 225px;
}

#e23{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 270px;
}

#e24{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 320px;
}

#e25{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 370px;
}

#e26{
    font-family: Minecraft;
    margin-top: -16.5px;
    color: white;
    font-size: 16.5px;
    margin-left: 420px;
}

#e27{
    font-family: Minecraft;
    margin-top: 33px;
    color: white;
    font-size: 16.5px;
    margin-left: 30px;
}

.skin{
    position: absolute;
    margin-top: 33px;
    margin-left: 85px;
    width: 80px;
    height: auto;
}